<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <a href="/">Home</a>
  {% for pesanan in all_data %}
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="nama" id="id_nama" placeholder="nama" value="{{ pesanan.nama }}"> <br>
    <input type="text" name="pesanan" id="id_pesanan" placeholder="pesanan" value="{{ pesanan.pesanan }}"><br>
    <input type="submit" value="pesan sekarang">
  </form>
  {% endfor %}

</body>

</html>