<!DOCTYPE html>
<html>
<title>About-us</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<style>
    body,
    h1 {
        font-family: "Montserrat", sans-serif
    }

    img {
        margin-bottom: -7px
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }

    .jumbotron-01 {
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #0C9;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
    }

    .my-float {
        margin-top: 22px;
    }
</style>

<body>

    <!-- Sidebar -->
    <nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()"
            class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
            <i class="fa fa-remove"></i>
        </a>
        <div class="w3-bar-block w3-center">
            <a href="/admin" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Admin-page</a>
            <a href="/gallery" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Gallery</a>
            <a href="/" class="w3-bar-item w3-button w3-text-grey w3-hover-black">HomePage</a>
            <a href="/about-us" class="w3-bar-item w3-button w3-text-grey w3-hover-black">About-us</a>
        </div>
    </nav>

    <!-- !PAGE CONTENT! -->
    <div class="w3-content" style="max-width:1500px">

        <!-- Header -->
        <div class="w3-opacity">
            <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>
            <div class="w3-clear"></div>
            <header class="w3-center w3-margin-bottom">
                <h1><b>About-us</b></h1>

            </header>
        </div>
        <!-- search cosole -->

        <!-- main page -->
        <div class="container">
            {% for about_us in items %}
            {% autoescape off %}
            <!-- awala -->

            <div class="container">
                <div class="row">
                    <!-- Content here -->
                    <div class="col-sm">
                        {{ about_us.deskripsi }}
                    </div>
                    <div class="col-sm">
                        <img src="{{ about_us.url_link_0 }}" class="w3-image" alt="Norway"
                            style="margin-top: 10%; margin-bottom: 10%;">
                    </div>


                    <!-- end -->
                </div>
            </div>
            <!-- row selesai -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ about_us.url_link_1 }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ about_us.url_link_2 }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ about_us.url_link3 }}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- carousel end -->
            <!-- satu img habis -->
            <div class="card-group" style="margin-top: 5%;">
                <div class="card">
                    <img src="{{ about_us.url_link_1 }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ about_us.title_1 }}</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ about_us.url_link_2 }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ about_us.title_2 }}</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ about_us.url_link_3 }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ about_us.title_3 }}</h5>
                    </div>
                </div>
            </div>
            <!-- akhir -->

            {% endautoescape %}
            {% endfor %}
        </div>


        <!-- End Page Content -->
    </div>

    <!-- Footer -->
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin-top:128px">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"
                class="w3-hover-text-green">w3.css</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>


    <script>
        // Toggle grid padding
        function myFunction() {
            var x = document.getElementById("myGrid");
            if (x.className === "w3-row") {
                x.className = "w3-row-padding";
            } else {
                x.className = x.className.replace("w3-row-padding", "w3-row");
            }
        }

        // Open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.width = "100%";
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>

</body>

</html>